<%- include layout.ejs %>
<link rel="stylesheet" href="/css/style.css">
<body>
    <div class="containerr">
		<h2>To Do List</h2>
    <p><em>double click to cross an item off.</em></p>
       
		<form class="add" name="task" action="/add" method="post">
			<input type="text" name="task"/>

			<button id="button" type="submit" >Add</button>
		</form>
		<br/>
		<ol>
				<% for (var i=0; i<tasks.length;i++) { %>
					<div class="task" >	
						<form action="/delete/<%= tasks[i].dataValues.id %>" method="get">
							<button id="task" type="submit">Done</button>
						</form>
						<ul>
							<li><%= tasks[i].dataValues.task %></li> 
						</ul>
					</div>	
					<% } %>
		</ol>
		<form  action="/logout" method="post">
			<button id="button" type="submit">Logout</div>
		</form>
			



	
		

    
    </div>
</body>