<%- include layout.ejs %>
<link rel="stylesheet" href="/css/style.css">
<body>
    <div class="containerr">
		<h2>To Do List</h2>
    <p><em>double click to cross an item off.</em></p>
       
		<form class="add" name="toDoList">
			<input type="text" name="ListItem"/>
		</form>
    
		<div id="button">Add</div>
		<br/>
		<ol></ol>
		<form  action="/logout" method="post">
			<button id="button" type="submit">Logout</div>
		</form>
      
      
    
    </div>
</body>